body{
    background-color: #ffffff;
    color: #223046;
    font-family: 'Red Hat Text', sans-serif;
    font-size: small;
    margin: 2% 5% 2% 5%;
}
.logo{
    background-color: #faf7ed;
}
.logo img{
    position: absolute;
    margin-left: 40px;
    height: 70px;
}
.active{
    color:#953D33;
}
h1{
    text-align: center;
    padding: 15px;
    font-family: 'Garet', sans-serif;
    font-weight: bold;
}
nav{
    background-color: #faf7ed;
    width: 100%;
    overflow: auto;
    height: 70px;
}
nav a{
    display: block;
    padding: 20px 15px;
    color: #223046;
    font-size: larger;
    text-decoration:none ;
    font-family: 'Garet', sans-serif;
    text-align: center;
    font-weight: bold;
    float: right;
    margin-left: 90px;
    margin-right: 50px;
}
ul{
    list-style-type: none;
    margin: 0 0 0 150px;
    padding: 0;
    background-color: #faf7ed;
}
li{
    border-left: 1px solid #faf7ed;
    background-color: #faf7ed;
}
li:first-child{
    border-left: none;
}
.active{
    color:#953D33;
}

h1{
    text-align: center;
    padding: 15px;
}
.index-category{
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    position: relative;
}
.index-category-box{
    border-radius: 10%;
    width: 200px;
    height: 50px;
    background-color: #faf7ed;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items:center;
    text-decoration: none;
}

.index-category-box h3{
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #223046;
    font-weight: bolder;
    font-family: 'Garet', sans-serif;
}
.carousel{
    padding-left: 90px;
    padding-right: 90px;
}

div.gallery img {
  width: 100%;
  height: 400px;
}

div.description {
  text-align: center;
  font-weight: bold;
  font-size: larger;
}
nav a:hover{
    color: #953D33;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
  opacity: 0;
  animation: fadeIn 0.9s forwards;
  --child-index: calc(var(--i) + 1);
}
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translate(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
/*used to delay animation for every child of responsive*/
.responsive:nth-child(n){
    animation-delay: calc((var(--child-index)*0.1s));
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

footer{
    background-color: #faf7ed;
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 40px;    
}
footer a{
    color: #953D33;
    text-decoration: none;
    border-radius: 50%;
    background-color: #faf7ed;
    display:inline-block ;
    padding: 30px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.recipe{
    display: none;
}
.recipe.breakfast{
    display: block;
}
.recipe.lunch{
    display: block;
}
.recipe.dinner{
    display: block;
}
.recipe.dessert{
    display: block;
}
.recipe.drinks{
    display: block;
}